BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "FT601_CLK" SITE "63" ;
LOCATE COMP "FT601_DATA[0]" SITE "75" ;
LOCATE COMP "FT601_DATA[1]" SITE "74" ;
LOCATE COMP "FT601_DATA[2]" SITE "70" ;
LOCATE COMP "FT601_DATA[3]" SITE "69" ;
LOCATE COMP "FT601_DATA[4]" SITE "68" ;
LOCATE COMP "FT601_DATA[5]" SITE "67" ;
LOCATE COMP "FT601_DATA[6]" SITE "66" ;
LOCATE COMP "FT601_DATA[7]" SITE "65" ;
LOCATE COMP "FT601_DATA[8]" SITE "64" ;
LOCATE COMP "FT601_DATA[9]" SITE "61" ;
LOCATE COMP "FT601_DATA[10]" SITE "60" ;
LOCATE COMP "FT601_DATA[11]" SITE "59" ;
LOCATE COMP "FT601_DATA[12]" SITE "58" ;
LOCATE COMP "FT601_DATA[13]" SITE "57" ;
LOCATE COMP "FT601_DATA[14]" SITE "54" ;
LOCATE COMP "FT601_DATA[15]" SITE "53" ;
LOCATE COMP "FT601_DATA[16]" SITE "83" ;
LOCATE COMP "FT601_DATA[17]" SITE "84" ;
LOCATE COMP "FT601_DATA[18]" SITE "85" ;
LOCATE COMP "FT601_DATA[19]" SITE "86" ;
LOCATE COMP "FT601_DATA[20]" SITE "87" ;
LOCATE COMP "FT601_DATA[21]" SITE "88" ;
LOCATE COMP "FT601_DATA[22]" SITE "96" ;
LOCATE COMP "FT601_DATA[23]" SITE "97" ;
LOCATE COMP "FT601_DATA[24]" SITE "98" ;
LOCATE COMP "FT601_DATA[25]" SITE "99" ;
LOCATE COMP "FT601_DATA[26]" SITE "7" ;
LOCATE COMP "FT601_DATA[27]" SITE "8" ;
LOCATE COMP "FT601_DATA[28]" SITE "21" ;
LOCATE COMP "FT601_DATA[29]" SITE "24" ;
LOCATE COMP "FT601_DATA[30]" SITE "20" ;
LOCATE COMP "FT601_DATA[31]" SITE "25" ;
LOCATE COMP "FT601_BE[0]" SITE "19" ;
LOCATE COMP "FT601_BE[1]" SITE "18" ;
LOCATE COMP "FT601_BE[2]" SITE "17" ;
LOCATE COMP "FT601_BE[3]" SITE "16" ;
LOCATE COMP "FT601_RXF_N" SITE "14" ;
LOCATE COMP "FT601_TXE_N" SITE "15" ;
LOCATE COMP "FT601_WR_N" SITE "12" ;
LOCATE COMP "FT601_RD_N" SITE "10" ;
LOCATE COMP "FT601_SIWU_N" SITE "13" ;
LOCATE COMP "FT601_OE_N" SITE "9" ;
LOCATE COMP "FT601_RST_N" SITE "4" ;
LOCATE COMP "DATA_LANE[0]" SITE "45" ;
LOCATE COMP "DATA_LANE[1]" SITE "42" ;
LOCATE COMP "DATA_LANE[2]" SITE "40" ;
LOCATE COMP "DATA_LANE[3]" SITE "36" ;
LOCATE COMP "DATA_LANE[4]" SITE "29" ;
LOCATE COMP "CLK_LANE" SITE "34" ;
#LOCATE COMP "LVDS0_N" SITE "47";
#LOCATE COMP "LVDS1_N" SITE "43";
#LOCATE COMP "LVDS2_N" SITE "41";
#LOCATE COMP "LVDS3_N" SITE "37";
#LOCATE COMP "LVDS4_N" SITE "30";
#LOCATE COMP "LVDS_5_N" SITE "35";
LOCATE COMP "LED" SITE "71" ;
FREQUENCY PORT "FT601_CLK" 100.000000 MHz ;
#IOBUF PORT "LED" IO_TYPE=LVCMOS33;
#LOCATE COMP "WAKEUP_N" SITE "3" ;
#DEFINE PORT GROUP "LVDS_group" "LVDS_*" ;
#IOBUF GROUP "LVDS_group" IO_TYPE=LVDS25 DIFFRESISTOR=100;
#DEFINE PORT GROUP "FT601_group" "FT601_*" ;
#IOBUF GROUP "FT601_group" IO_TYPE=LVCMOS33;
FREQUENCY NET "sclk" 75.000000 MHz ;
FREQUENCY NET "clk_int" 133.000000 MHz ;
FREQUENCY PORT "CLK_LANE" 300.000000 MHz ;
