//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 20 22:43:21 2019
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "E8" LEVEL 1;
COMP "USER_CLK" LOCATE = SITE "AH15" LEVEL 1;
COMP "RESET" LOCATE = SITE "AJ6" LEVEL 1;
COMP "DATA_LANE_0_N" LOCATE = SITE "K34" LEVEL 1;
COMP "DATA_LANE_0_P" LOCATE = SITE "L34" LEVEL 1;
COMP "DATA_LANE_1_N" LOCATE = SITE "K32" LEVEL 1;
COMP "DATA_LANE_1_P" LOCATE = SITE "K33" LEVEL 1;
COMP "DATA_LANE_2_N" LOCATE = SITE "N32" LEVEL 1;
COMP "DATA_LANE_2_P" LOCATE = SITE "P32" LEVEL 1;
COMP "DATA_LANE_3_N" LOCATE = SITE "R34" LEVEL 1;
COMP "DATA_LANE_3_P" LOCATE = SITE "T33" LEVEL 1;
COMP "DATA_LANE_4_N" LOCATE = SITE "R32" LEVEL 1;
COMP "DATA_LANE_4_P" LOCATE = SITE "R33" LEVEL 1;
COMP "CLK_LANE_N" LOCATE = SITE "T34" LEVEL 1;
COMP "CLK_LANE_P" LOCATE = SITE "U33" LEVEL 1;
COMP "SWITCH" LOCATE = SITE "U25" LEVEL 1;
SCHEMATIC END;

